#showTesting{
    margin-top: 500px;
}

@import url('https://fonts.googleapis.com/css?family=Bangers|Bungee');

*{
    font-family: 'Bungee', cursive;

    
}

#myHeader{
    height: 150px;
    background-color: transparent;
}

#ivanInfo{
    height: 1100px;
    // #ivansColumn{
    //     height: ;
    // }
    #trainerCard{
        height: 375px;
        z-index: 1;
        position: relative;
        bottom: 415px;
        left: 110px;
    }
}

#ivansColumn{
    height: 100%;
    width: 100%;
}

#ivansContainer{
    height: 100%;
}

#ivan{
    height: 1100px;
}

// .loadingGif{
//     min-height: unset;
//     height:25px;
//     width: 25px;
// }

.parallax-container{
    height: 700px;
}

.outermostRow{
    margin: 0;
}

#mewtwoY{
    transform: scaleX(-1);
}

#rayquaza, #megaRayquaza{
    transform: scaleX(-1);
}
.outermostContainer{
    // display:flex;
    // justify-content: space-evenly;
    height: 1250px;
    background-color: teal;
    // .row{
    //     height:100%;
    // }
    // .col{
    //     height: 100%;
    // }
    // img{
    //     height:100%;
    //     width:100%;
    // }
}
.nameAndImageContainer{
    display: block;
    // height:100%;
    max-height: fit-content;

    .loadingGif{
        display: inline-block;
        text-align: center;
        margin: 16.5px;
        height:125px;
        width: 125px;
    }
}


    .pokeName{
        margin: 50px 0;
        text-transform: capitalize;
    }
    .pokeImage{
        margin: 50px 0;
        height: 100%;
        width: 100%;
    }


blockquote.leftSide {
    height: 32%;
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid green;
    padding-right: 1.5rem;
    border-right: 5px solid transparent;
  }
  
  blockquote.rightSide {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid transparent;
    padding-right: 1.5rem;
    border-right: 5px solid black;
  }

.besidePokemonImg{
    height: 100%;
}

.masterballs{
    // border-radius: 50%; 
    height:360px; 
    width:360px; 
    // background-color:green; 
    display:flex; 
    flex-wrap: wrap;
    justify-content:center; 
    align-items: center;
}

.masterballContainer{
    display: flex;
    justify-content: space-evenly;
}

.stats{
    position: relative;
    text-align: center;
    line-height: 30px;
    bottom: 137px;
    z-index: 1;

}

.containerForMoves{
    height: 360px;
    overflow: auto;  
}
  
.hidden{
    display:none;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}